body {
    margin: 50px;
    background-color:#f1f1f1;
    font-family: arial;
}

article {
   display: grid;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    float: left;
    position: sticky;
    top: 50px;
    width: 300px;
    max-height: 100%;
    margin-right: 20px;
    text-align: center;
  }

  
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  .contact {
      margin-left: 20px;
      text-align:left;
  }



  .collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    border: 1px solid ;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }