body {
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 20%;
    margin-right: 20%;
    background-color:#f1f1f1;
    font-family: arial;
}

article {
   display: grid;
}


ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  margin-top: -1px;
  padding: 10px;
}

h2 {
  background-color: #555;
  margin-top: 0;
  margin-bottom: 0;
  padding: 18px;
  color: white;
}

video {
  width: 49.5%;
}

#buttonView {
  color: rgb(0, 0, 255);
  width: fit-content;
  padding: 5px;
  border: 0;
  text-decoration: underline;
  cursor: pointer;
  float: right;
}

#buttonView:hover {
  color: rgb(4, 4, 88)
}

#hidePaper{
  display: none;
  
}

.times {
  text-decoration: underline;
  font-style: italic;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  float: left;
  position: sticky;
  top: 50px;
  width: 27%;
  max-height: 100%;
  margin-right: 20px;
  text-align: center;
}


.title {
  color: grey;
  font-size: 18px;
}

.contact {
    margin-left: 20px;
    text-align:left;
}


.videoDemo {
  padding: 5px;
}